
@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">Brand</h4>
<div class="card-custom text-right">
    <a href="/Brand/Add">
        <button class="btn btn-primary mb-3" type="button">Add Brand</button>
    </a>
    <table id="BrandTable" class="table table-hover text-center">
        <thead>
            <tr>
                <th>SN</th>
                <th>Brand</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{
    <script>
    var successMsg = '@TempData["SuccessMsg"]';
    var failedMsg = '@TempData["FailedMsg"]';
    $(document).ready(function () {
        if (successMsg != null && successMsg != "" && typeof successMsg != "undefined") {
            alert(successMsg);
        }
        if (failedMsg != null && failedMsg != "" && typeof failedMsg != "undefined") {
            alert(failedMsg);
        }


            $('#BrandTable').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 25,
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "ajax": "/Brand/AjaxBrandList",
                "columns": [
                    { "data": "BrandHeaderId" },
                    { "data": "BrandName" },
                    {
                        "render": function (data, type, row) {
                            return "<a href='/Brand/Edit/" + row.BrandHeaderId + "'><button type='button' class='btn btn-primary'>Edit</Button></a> <a href='/Brand/Delete/" + row.BrandHeaderId +"'><button type='button' class='btn btn-danger'>Delete</Button></a>";
                        },
                    }
                ]
            });
    });
    </script>
}


