
@{
    ViewBag.Title = "Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">Unit</h4>
<div class="card-custom text-right">
    <a href="/Unit/Add">
        <button class="btn btn-primary mb-3" type="button">Add Unit</button>
    </a>
    <table id="UnitTable" class="table table-hover text-center">
        <thead>
            <tr>
                <th>SN</th>
                <th>Unit</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{
    <script>
    var successMsg = '@TempData["SuccessMsg"]';
    var failedMsg = '@TempData["FailedMsg"]';
    $(document).ready(function () {
        if (successMsg != null && successMsg != "" && typeof successMsg != "undefined") {
            alert(successMsg);
        }
        if (failedMsg != null && failedMsg != "" && typeof failedMsg != "undefined") {
            alert(failedMsg);
        }
        $('#UnitTable').DataTable({
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 25,
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "ajax": "/Unit/AjaxUnitList",
            "columns": [
                { "data": "UnitHeaderId" },
                { "data": "UnitName" },
                {
                    "render": function (data, type, row) {
                        return "<a href='/Unit/Edit/" + row.UnitHeaderId + "'><button type='button' class='btn btn-primary'>Edit</Button></a> <a href='/Unit/Delete/" + row.UnitHeaderId +"'><button type='button' class='btn btn-danger'>Delete</Button></a>";
                    },
                }
            ]
        });
    });
    </script>
}


